@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

html, body {
  scrollbar-width: 0.7vw;
  scrollbar-color: rgb(153, 88, 88);
}

body {
  overflow: overlay;
}

html::-webkit-scrollbar {
  width: 0.7vw;
}

/* html::-webkit-scrollbar-thumb {
  background-color: rgb(211, 172, 172);
  border-radius: 8px;
} */

html::-webkit-scrollbar-thumb{
}

#app {
  position: relative;
  display: flex;
  width: 100%;
  font-family: 'Heebo', sans-serif;
  overflow: hidden;

  font-weight: normal;
}

a {
    text-decoration: none;
    color: var(--color-text);
    transition: 0.1s;
}

@media (hover: hover) {
  a:hover {
    filter: drop-shadow(1.5px 1.5px 0.03em rgba(128, 128, 128, 0.247))
  }
}

/* @media (min-width: 1024px) {
  #app {
    display: grid;
    grid-template-rows: 0.6fr 0.6fr;
    padding: 3rem 4rem;
  }
} */
